@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#container {
	width: auto;
	background-color: #000000;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

#header {
	width: auto;
	background-color:#000000;
	font-weight: 400;
}

#footer {
	width: auto;
	background-color: #000000;
}

body {
	font-family: 'Roboto', sans-serif;
}

a {
	color: #ff87ed;
	font-family: "Courier New", monospace;
}

a {
	text-decoration: none;
	margin: 8px;
	font-family: "Courier New", monospace;
}
a:hover {
	-webkit-transition: color 1.0s; /* For Safari 3.0 to 6.0 */
	transition: color 1.0s; /* For modern browsers */
	color: #2b63ff;
}

h1 {
	color: #ffffff;
	font-family: "Courier New", monospace;


}

h2 {
	color: #ffffff;
	font-family: "Courier New", monospace;
}

h3 {
	color: #ffffff;
	font-family: "Courier New", monospace;
}
p {
	color: #ffffff;
	font-family: "Courier New", monospace;
}