@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#container {
	width: auto;
	background-color: #fff2;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

#header {
	width: auto;
	background-color:#FFF;
	font-weight: 400;
}

#footer {
	width: auto;
	background-color: #ebebeb;
}

body {
	font-family: 'Roboto', sans-serif;
}

a {
	color: #ff87ed;
}

a {
	text-decoration: none;
	margin: 8px;
}
a:hover {
	-webkit-transition: color 1.5s; /* For Safari 3.0 to 6.0 */
	transition: color 1.5s; /* For modern browsers */
	color: #ffc9f7;
}

.rainbow{
	animation: rainbow 2.5s linear;
	animation-iteration-count: infinite;
}

@keyframes rainbow{
	100%,0%{
		color: rgb(255,0,0);
	}
	8%{
		color: rgb(255,127,0);
	}
	16%{
		color: rgb(255,255,0);
	}
	25%{
		color: rgb(127,255,0);
	}
	33%{
		color: rgb(0,255,0);
	}
	41%{
		color: rgb(0,255,127);
	}
	50%{
		color: rgb(0,255,255);
	}
	58%{
		color: rgb(0,127,255);
	}
	66%{
		color: rgb(0,0,255);
	}
	75%{
		color: rgb(127,0,255);
	}
	83%{
		color: rgb(255,0,255);
	}
	91%{
		color: rgb(255,0,127);
	}
}