@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

#container {
	width: auto;
	background-color: #fff2;
	margin-left: auto;
	margin-right: auto;
	padding: 5px;
}

#header {
	width: auto;
	background-color:#FFF;
	font-weight: 400;
}

#footer {
	width: auto;
	background-color: #ebebeb;
}

body {
	font-family: 'Roboto', sans-serif;
}

a {
	color: #ff87ed;
}

a {
	text-decoration: none;
	margin: 8px;
}
a:hover {
	-webkit-transition: color 1.5s; /* For Safari 3.0 to 6.0 */
	transition: color 1.5s; /* For modern browsers */
	color: #ffc9f7;
}

#breathing-button {
    width: 180px;
    padding: 12px;
    margin: 50px auto;
    border: 1px solid #ff87ed;
    -webkit-animation: breathing 5s ease-out infinite normal;
    animation: breathing 5s ease-out infinite normal;
    font-family:'Lantinghei SC';
    font-size: 16px;
    background: #ff87ed;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    border-radius: 2px;
    text-align: center;    
    }


@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}
